<style>
  /* animation inspired from https://codepen.io/raaasin/pen/quvHr */

h1 {
  -webkit-animation:colorchange 2s infinite alternate;
  align-items: flex-start;
}

@keyframes colorchange {
      0% {
        color: white;
      }
      100% {
        color: brown;
      }}
</style>


<header>
    <h1>More Chocolate</h1>
  </header>