<!DOCTYPE html>
<style>
  .center {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
  }
</style>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <h2>Wrong password; sign up or log in again</h2>
        <div class="center">
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
      </div>
    </main>
  </body>
</html>