<!DOCTYPE html>
<style>
  form {
    width: 500px;
  }
</style>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/choco" method="post">
          <article>
            <h3>
              <legend>Create a New Chocolate</legend>
            <label>
              <span style="color:burlywood">Manufacturer:<br></span><input
                type="text"
                name="Manuf"
                placeholder="Enter chocolate maker"
              />
            </label><br>
            <label>
              <span style="color:burlywood">Name:<br></span><input
                type="text"
                name="Name"
                placeholder="Enter chocolate's name"
              />
            </label><br>
            <label>
              <span style="color:burlywood">Cocoa Content:<br><input
                  type="text"
                  name="CocoaCont"
                  placeholder="Enter % cocoa"
                />
              </label><br>
              <label>
                <span style="color:burlywood">Flavor:<br></span><input
                  type="text"
                  name="Flavor"
                  placeholder="Is it flavored? Which flavor?"
                />
              </label><br>
                <label>
                  <span style="color:burlywood">Description:<br></span><input
                      type="text"
                      name="Description"
                      size="40"
                      placeholder="Describe it!"
                    />
                  </label><br>
            
          </fieldset>
          <br>
        </h3>
      </article>
      <br>
          <input type="submit" value="Create new chocolate" /><br>
          <a href="/choco/"><button>Back to Main</button></a>
        </form>
      </div>
    </main>
  </body>
</html>