@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Scrolling overlap inspired by https://css-tricks.com/ */

body {
    color: white;
    background: black;
    height: 100vh;
    margin: 0;
    display: grid;
    place-items: center;
    overflow: scroll;
    font-family: Lato;  
}

.cards {
    display: flex;
    place-items: center;
    height: 300px;
    flex-direction: row;
    overflow-x: scroll;
}

.card {
    color: white;
    border-radius: 16px;
    padding: 2rem;
    box-shadow: -2rem 0 3rem -2rem #000;
    transition: 0.2s;
    width: 200px; 
    height: 150px;
    background: linear-gradient(85deg,#434343,#262626);

    }; 
    

.card:not(:first-child) {
    margin-left: -4rem;
    background-color: red;
}

.card:hover {
    transform: translate(-.5rem,-1rem) rotate(
3deg);
}

/* Changing the colors of the links */

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
     font-size: 23px;
    transition: .2s;
}  
a:visited {
    color: #f7e5d9;

}


